<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, placeholder: 'Title of blog' %>
    <%= f.input :summary, placeholder: 'Write a summary of the blog entry (optional)' %>
    <%= f.input :body, placeholder: 'Body of blog' %>
    <%= f.input :conclusion, placeholder: 'Conclusion (optional)' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :value => "PUBLISH" %>
  </div>
<% end %>
