<div class="reveal">
<div class="slides">
<section>
  <p id="notice"><%= notice %></p>
  <h1><%= @post.title %></h1>
</section>
<% if !@post.summary.nil? %>
<section>
  <p>
  <%= @post.summary %>
</p>
</section>
<% end %>

<section>
<p>
  <%= @post.body %>
</p>
</section>

<% if !@post.conclusion.nil? %>
<section>
  <p>
  <%= @post.conclusion %>
</p>
</section>
<% end %>

</div>
</div>

        <% if user_signed_in? && @post.user_id == current_user.id %>
        <div class="bottomMenuLinks">
        <span class="highlight">Your post > </span>
        <%= link_to 'Edit', edit_post_path(@post), :class =>"btn-wb" %>
        <% end %>
        </div>



  <script src="../assets/head.min.js"></script>
  <script>
    // Full list of configuration options available here:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
      controls: true,
      progress: true,
      history: true,
      center: true,

      theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
      transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

    });
  </script>